#SAMPLE_EXTENSION {
    /* background-color: rgba(255,255,255,.9); */
    /* border-radius: 10px; */
    max-width: 555px;
    max-height: 700px;
    padding: 10px;
    margin-top: 50px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

/* ==== Array selectorButtons ==== */

.rowTabs{
    padding: 10px;
}

.homeButton, .selectButton, .sendButton {
    /* margin: 20px; */
    width: 100px;
    background-color: inherit;
    border: none;
    margin-top: 10px;
    height: 40px;
    color: #078aa3;
    width: 100%;
}

.active{
    border-bottom: 0px solid white;
    background-color: white;
    color: black;
}

button.active{
    border-bottom: 1px solid white;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    color: black;
}

.buttonForm{
    /* border: 1px solid lightgrey; */
    background-color: lightgray;
    border-radius: 7px;
}

.title{
    font-weight: bold;
    font-size: 15px;
}

p {
    font-size: 12px;
}

.mainTitle{
    font-size: 18px;
}

.paragraphs{
    margin: 10px;
    max-width: 500px;
}

/*Section sélection du plugin*/

.selectTitle{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background: lightgray;
    height: 40px;
    font-size: small;
}

.selectorButton{
    background-color: #078aa3;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.selectorButton.active {
    background-color: #05505F;
    color: white;
    border: none;
}


.selectorButton.empty{
    background-color: darkgray;
    color: white;
    border: none;
}

label {
    min-width: 28%;
}

/* ==== Array selectedTiles ==== */

.tableOffset{
    margin-right: 15px;
}

.scrollBar{
    overflow-y: scroll;
    max-height: 499px;
    margin-right: 17px;
}

.scrollBar div{
    margin-left: 0px;
    margin-right: 0px;
}

.scrollBar .row div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.arraySelected{
    background-color: lightgray;
}

/* ==== Form Area ==== */

.formGlobal{
    margin: 10px;
}

.formUnit{
    margin: 5px;
}

.formUnit span{
    font-weight: bold;
    font-size: inherit;
}

.formUnit input {
    padding: 3px;
    width: 69%;
    /* padding: 12px; */
}

.formUnit input[type='checkbox']{
    margin-left: 33%;
    margin-right: 10px;
    width: auto;
}

.formUnit textarea {
    width: 100%;
    height: 175px;
    cursor: pointer;
}

.checkbox{
    margin-top: -20px;
    margin-left: 20px;
}

/* ==== End of Form ==== */