#RTGE_EXTENSION {
    max-width: 555px;
    max-height: 700px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 35px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

/* ==== HomeTab CSS ==== */

#RTGE_EXTENSION h1 {
    font-size: 16px;
    font-weight: bold;
}

#RTGE_EXTENSION h2 {
    font-size: 14px;
    font-weight: bold;
}

#RTGE_EXTENSION p {
    font-size: 12px;
}

/* ==== Array selectorButtons ==== */

.RTGE_rowTabs{
    padding: 10px;
}

.RTGE_homeButton, .RTGE_selectButton, .RTGE_sendButton {
    /* margin: 20px; */
    width: 100px;
    background-color: inherit;
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

.RTGE_gray {
    background-color: lightgray;
}

.RTGE_active{
    border-bottom: 0px solid white;
    background-color: white;
    color: black;
}

button.RTGE_active{
    border-bottom: 1px solid white;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    color: black;
}

.RTGE_tooltipMain {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .RTGE_tooltipMain .RTGE_tooltipContent {
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
    margin-top: 10px;
  }

  .RTGE_tooltipMain .RTGE_tooltipContent {
    top: 100%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .RTGE_tooltipMain:hover .RTGE_tooltipContent {
    visibility: visible;
  }

  .RTGE_tooltipMain .RTGE_tooltipContent::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Tooltip text */
.RTGE_tooltipMain .RTGE_tooltipContentLeft {
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: small;
  }

  .RTGE_tooltipMain .RTGE_tooltipContentLeft {
    top: 2px;
    right: 105%;
  }

/* Show the tooltip text when you mouse over the tooltip container */
.RTGE_tooltipMain:hover .RTGE_tooltipContentLeft {
    visibility: visible;
}
    
.RTGE_tooltipMain .RTGE_tooltipContentLeft::after {
    content: " ";
    position: absolute;
    top: 60%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.RTGE_paragraphs{
    margin-top: 15px;
    margin-left: 10px;
    max-width: 500px;
}

.RTGE_right {
    text-align: right;
    right: 20px;
}

.RTGE_left{
    height: 40px;
    margin-top: 10px;
    display:grid;
    align-items: center;
    left: 20px;
}

/*Section sélection du plugin*/

.RTGE_selectorButton{
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.RTGE_selectorButton.RTGE_active {
    border: none;
}


.RTGE_selectorButton.RTGE_empty{
    border: none;
}

/* ==== Array selectedTiles ==== */

.RTGE_selectTitle{
    /* font-weight: bold; */
    border-bottom: 1px solid #ddd;
    background: darkgray;
    /* height: 40px; */
    font-size: small;
    color: white;
}

.RTGE_tableOffset{
    margin-right: 15px!important;
}

.RTGE_scrollBar{
    overflow-y: scroll;
    max-height: 5000px;
    margin-right: 17px;
    cursor: pointer;
}

.RTGE_scrollBar div{
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.RTGE_scrollBar .row div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.RTGE_arraySelected{
    background-color: lightgray;
}

.RTGE_v-align{
    display:grid;
    align-items: center;
    height: 40px;
}

.RTGE_delimitor{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px ridge;
    border-color: lightgray;
}

.RTGE_arrayOffset{
    margin-left: 0px!important;
}

.RTGE_RowsOffset{
    padding-right: 1px;
}

/* ==== Form Area ==== */

.RTGE_formUnit {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.RTGE_formUnit span{
    font-weight: bold!important;
    font-size: inherit!important;
}

.RTGE_formUnit input[type='checkbox']{
    margin-left: 33%!important;
    margin-right: 10px!important;
    width: auto!important;
}

.RTGE_formUnit textarea {
    width: 100%!important;
    height: 110px!important;
    cursor: pointer!important;
}

.RTGE_checkbox{
    margin-top: -5px!important;
}

.RTGE_errorZone {
    background-color: red;
    display: grid;
    align-items: center;
    text-align: center;
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.RTGE_inputGroupStyles {
    display:flex!important;
    align-items: center;
    overflow: hidden;
}

.RTGE_label-default {
    padding: 8px;
}

.RTGE_inputGroupStyles .RTGE_PhoneInput {
    margin-left: 10px;
}

.RTGE_form-group {
    margin-bottom: 9px!important;
}

.RTGE_form-group textarea {
    resize: none;
}

.RTGE_buttonForm {
    border-radius: 5px;
    border-width: 0px;
    padding: 8px;
    margin-right: 15px;
    font-weight: bold;
}

.RTGE_notBold span {
    font-weight: normal;
}

.RTGE_buttonToRight{
    float: right;
}

.RTGE_undergroundWarning{
    margin-bottom: 5px;
    font-size: 8pt;
    font-style: italic;
}

/* ==== End of Form ==== */

/* ==== SideBar ==== */

.iconSize{
    width: 25px;
    height: 25px;
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
button .iconSize{
    filter: invert(26%) sepia(4%) saturate(8%) hue-rotate(334deg) brightness(104%) contrast(87%);;
}

button.active .iconSize{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

/* ==== End Of SideBar ==== */

/* ==== Loading Bar ==== */

.plui-evolution-panel .plui-loading-container {
	width: 100%;
	height: 100%;
	overflow: visible;
	margin: auto;
	position: absolute;
	display: block;
	vertical-align: center;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .60);
	z-index: 999;
}

.RTGE_loadingContainer .RTGE_loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	white-space: nowrap;
	text-align: center;
}

.RTGE_loadingContainer .RTGE_loading .mapstore-inline-loader {
	display: block !important;
	margin: auto;
	height: 300px;
	width: 300px;
	border: 15px solid transparent !important;
	border-top-color: rgba(7, 138, 163, 0.2) !important;
	border-right-color: rgba(7, 138, 163, 0.2) !important;
	border-bottom-color: rgba(7, 138, 163, 0.2) !important;
	border-left-color: #078aa3 !important;
}

.RTGE_loadingContainer .RTGE_loading span {
	font-size: 22px;
}

.RTGE_loadingContainer .RTGE_loading .sk-circle:before {
	background-color: white;
}